<div class="modal" id="reqModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header bg-blue ">
        <h5 class="modal-title text-light">Requests</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
		<table style="width:100%">
		  <tr>
			<th>Type</th>
			<th>Date</th>
			<th>Status</th>
		  </tr>
		  <tr *ngFor="let request of rObjects">
			<td>{{request.type}}</td>
			<td>{{request.date}}</td>
			<td>{{request.reqStatus}}</td>
		  </tr>
		</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-success mu-10" *ngIf = "showSuccess" role="alert">
  {{successMsg}}
</div>
<div class="alert alert-danger mu-10" *ngIf = "showFailure" role="alert">
  {{failureMsg}}
</div>


<div class = "container-fluid mu-25">
	<h3 class="inline">Do you want to request a..</h3><button class="float-right btn btn-success mobile-mu-10" (click) = "openRequestModal()">View Requests</button>
	<br/>
	
	<div class="card mu-25 mobile-mu-75">
	<div class="card-header text-light bg-blue">
		{{infoHeader}}
	</div>
	<div class="card-body">
		{{infoBody}} 
	<div>
		<button *ngIf = "showButton" class="mu-10 btn btn-success" (click) = "sendRequest()" >Begin Request</button>
	</div>
	</div>
	<div class="card-footer text-light bg-dark">
		{{infoFooter}} 
	</div>
	</div>

	<div class = "mu-25  row">
		<div class = "col-md-4 mb-10">
			<div class="card">
				<h5 class="card-header bg-blue text-light">Official Transcript <br/>
				(1-2 business days)</h5>
				<div class="card-body">
					<button class="btn btn-warning w-100" (click) = "setInfo1(); revealButton()">View</button>
				</div>
			</div>
		</div>
		<div class = "col-md-4 mb-10">
			<div class="card">
				<h5 class="card-header bg-blue text-light">Proof of Enrollment <br/> 	
				(1-2 business days)</h5>
				<div class="card-body">
					<button class="btn btn-warning w-100" (click) = "setInfo2(); revealButton()">View</button>
				</div>
			</div>
		</div>
		<div class = "col-md-4">
			<div class="card">
				<h5 class="card-header bg-blue text-light">Confirmation of Graduation Status<br/>
				(5 business days)
				</h5>
				<div class="card-body">
					<button class="btn btn-warning w-100" (click) = "setInfo3(); revealButton()">View</button>
				</div>
			</div>
		</div>
	</div>
	<div class = "row mu-10">
		<div class = "col-md-4 mb-10">
			<div class="card">
				<h5 class="card-header bg-blue text-light">Eligibility to Graduate<br/>
				(10 business days)
				</h5>
				<div class="card-body">
					<button class="btn btn-warning w-100" (click) = "setInfo4(); revealButton()">View</button>
				</div>
			</div>
		</div>
		<div class = "col-md-4 mb-10">
			<div class="card">
				<h5 class="card-header bg-blue text-light">Jury Duty<br/>
				(1 business day)
				</h5>
				<div class="card-body">
					<button class="btn btn-warning w-100" (click) = "setInfo5(); revealButton()">View</button>
				</div>
			</div>
		</div>
		<div class = "col-md-4">
			<div class="card">
				<h5 class="card-header bg-blue text-light">Transfer Credit Evaluation<br/>
				(10 business days)</h5>
				<div class="card-body">
					<button class="btn btn-warning w-100" (click) = "setInfo6(); revealButton()">View</button>
				</div>
			</div>
		</div>
	</div>

<div class="mu-25 mb-50">
	You are required to have an address attached to your account.
	During peak periods, e.g. the end and start of each term, normal processing time for letters may be delayed. 
	All letters requested to be mailed are mailed via Canada Post. 
	Courier service is not available.
</div>