.nav-width{
	width:15%;
	min-height: 100vh;
}

.ryerson-logo{
	margin-top:5px;
	margin-bottom:11px;
	position:relative;
	margin-left:10px;
}

.w-90{
	width:90%;
}

.w-100{
	width:100%;
}

.sub-header{
	width:100%;
	margin-top:5px;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:0px;
}

.btn{
	margin-bottom:1px;
	border-radius:0px;
	height:50px;
	font-size:18px;
}


