<div class="nav-width bg-blue">
	<div class="bg-dark">
		<img class="w-90 ryerson-logo " src="../../assets/images/Ryerson-rgb.png"/>
	</div>
	<h3 class="text-light card-header text-center bg-blue">Account</h3>
	<button class="btn btn-dark w-100">Account Information</button>
	<button class="btn btn-dark w-100">Personal Information</button>
	
	<h3 class="text-light card-header text-center bg-blue">Courses</h3>
	<button class="btn btn-dark w-100">Course Summary</button>
	<button class="btn btn-dark w-100">Manage Courses</button>

	<h3 class="text-light card-header text-center bg-blue">Academic</h3>
	<button class="btn btn-dark w-100">Grades</button>	
	<button class="btn btn-dark w-100">Academic</button>	
	<button class="btn btn-dark w-100">Requests</button>	
</div>