<div class = "container-fluid mu-25">
    <div class = "row">
        <div class="col-md-6">
            <div class="card">
                <div class = "card-header bg-blue text-light">
                    <h5><span class="font-weight-bold">{{currentYear}} {{currentSemester}}</span> Enrolled Courses</h5>
                </div>
                    <div class = "card-body">
                        <table style="width:100%">
                            <tr>
                              <th>Course</th>
                            </tr>
                            <tr *ngFor = "let course of courseObjects">
                                <td>{{course.coursecode}}, {{course.professor}}<br>Lecture: {{course.lecturedates}}<br>Labs: {{course.labdates}}<br><br></td>
                              </tr>
                        </table>
                    </div>
            </div> 
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class = "card-header bg-blue text-light">
                    <h5>Exam Dates for <span class="font-weight-bold">{{currentYear}} {{currentSemester}}</span></h5>
                </div>
                <div class = "card-body">
                    <table style="width:100%">
                            <tr>
                              <th>Course</th>
                              <th>Date</th>
                              <th>Location</th>
                              <th>Time</th>
                            </tr>
                            <tr *ngFor = "let exam of courseExamObjects">
                                <td width="25%">{{exam.coursecode}}<br><br></td>
                                <td width="25%">{{exam.date}}<br><br></td>
                                <td width="25%">{{exam.location}}<br><br></td>
                                <td width="25%">{{exam.time}}<br><br></td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class = "row">
        <div class = "col-md-12">
            <div class = "card">
                <div class = "card-header bg-blue text-light">
                    <h5>Weekly Schedule</h5>
                </div>
                <div class = "card-body">
                    <ejs-schedule startHour="08:00 AM" endHour="21:00 PM" readonly="true" 
                                    [eventSettings]="eventScheduler" workDays={{workWeekDays}}>
                        <e-views>
                            <e-view option='Day'></e-view>
                            <e-view option='Week'></e-view>
                            <e-view option='WorkWeek'></e-view>
                            <e-view option='Month' [readonly]="isReadOnly"></e-view>
                        </e-views>
                    </ejs-schedule>
                </div>
            </div>
        </div>
    </div>
</div>