<div class="container-fluid mu-25">
	<div class="row">
		<div class="col-md-4">
			<div class="card">	
			<h5 class="card-header text-center bg-blue text-light">Compulsory</h5>
			<table class="w-100">
			  <tr>
				<th>Course</th>
				<th>Grade</th>
			  </tr>
			  <tr *ngFor="let course of cCourses">
				  <td>{{course[0]}}</td>
				  <td>{{course[1]}}</td>
			  </tr>
			</table>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">	
			<h5 class="card-header text-center bg-blue text-light">Professional Related</h5>
			<table class="w-100">
			  <tr>
				<th>Course</th>
				<th>Grade</th>
			  </tr>
			  <tr>
				
			  </tr>
			</table>
			</div>
		</div>
		<div class="col-md-4">
		<div class="card">	
			<h5 class="card-header text-center bg-blue text-light">Open Electives</h5>
			<table class="w-100">
			  <tr>
				<th>Course</th>
				<th>Grade</th>
			  </tr>
			  <tr>
				
			  </tr>
			</table>
			</div>
		</div>
	</div>
		<div class="row">
		<div class="col-md-4">
			<div class="card">	
			<h5 class="card-header text-center bg-blue text-light">Liberal A</h5>
			<table class="w-100">
			  <tr>
				<th>Course</th>
				<th>Grade</th>
			  </tr>
			  <tr>
				
			  </tr>
			</table>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">	
			<h5 class="card-header text-center bg-blue text-light">Liberal B</h5>
			<table class="w-100">
			  <tr>
				<th>Course</th>
				<th>Grade</th>
			  </tr>
			  <tr>
				
			  </tr>
			</table>
			</div>
		</div>
		<div class="col-md-4">
		<div class="card">	
			<h5 class="card-header text-center bg-blue text-light"></h5>
			<table class="w-100">
			  <tr>
				<th>Course</th>
				<th>Grade</th>
			  </tr>
			  <tr>
				
			  </tr>
			</table>
			</div>
		</div>
	</div>
</div>