<div class="modal" id="ancModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{modalHeader}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{modalBody}}
      </div>
      <div class="modal-footer">
	  	<button type="button" class="btn btn-success" *ngIf="OIButton" (click)="optIn()">Opt-In</button>
        <button type="button" class="btn btn-danger" *ngIf="OOButton" (click)="optOut()">Opt-Out</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="mu-25">
<div class="container-fluid">
<div class="row">
	<div class="col-md-6">
	<div class="card">
		<div class="card-header bg-blue text-light">
			<h4>Account Summary</h4>
		</div>
		<div class="card-body">
			<div class="font-weight-bold card-text">Account Balance: {{accBalance}} </div><br/>
			<div class="font-weight-bold card-text">Total Fees: {{schoolFees}} </div>
			<hr/>
			<h5 class="font-weight-bold">Total Balance: {{balanceOwing}}</h5><br/>
			<a href="https://www.ryerson.ca/registrar/fees/payonline/" target="_blank">How to pay my fees?</a><br/>
			<a href="https://www.ryerson.ca/calendar/2019-2020/dates/" target="_blank">When is my payment due?</a>
		</div>
	</div>
	
	<div class="card mu-25 mb-25">
		<div class="card-header bg-blue text-light">
			<h4>Documents</h4>
		</div>
		<div class="card-body">
		<div class="text-center"> 
			<div class="row">
			<div class="col-sm-6 mb-25">
			<h5 class="font-weight-bold">Inquiry Downloads</h5><br/>
			<a class="btn btn-warning w-100" href = "https://raw.githubusercontent.com/AjayHerod/cps731_group9/master/src/assets/images/fees2.png" target="_blank">Account Inquiry</a><br/><br/>
			<a class="btn btn-warning w-100" href = "https://raw.githubusercontent.com/AjayHerod/cps731_group9/master/src/assets/images/T2202A_EN.png" target="_blank">T2202A Inquiry</a><br/><br/>
			<a class="btn btn-warning w-100" href = "https://raw.githubusercontent.com/AjayHerod/cps731_group9/master/src/assets/images/large.png" target="_blank">T4A Inquiry</a>
			</div>
			<div class="col-sm-6">
			<h5 class="font-weight-bold">Statement Downloads </h5><br/>
			<a class="btn btn-warning w-100" href="https://raw.githubusercontent.com/AjayHerod/cps731_group9/master/src/assets/images/fees2.png" target="_blank">Account Statement</a><br/><br/>
			<a class="btn btn-warning w-100" href="https://raw.githubusercontent.com/AjayHerod/cps731_group9/master/src/assets/images/fees3.png" target="_blank">Net Tuition Statement</a>
			</div>
			</div>
		</div>
		</div>
	</div>
	
	</div>
	
	<div class="col-md-6 mb-50">
	<div class="card">
	<div class="card-header bg-blue text-light">
		<h4>Tuition Breakdown</h4>
	</div>
	<div class="card-body">
		<div class="font-weight-bold card-text"> Courses: ${{courseFees}}</div>
			<ul class="no-bullet">
				<li *ngFor="let courseObject of courseObjects;">
					{{courseObject.courseCode}}: ${{courseObject.cost}}
				</li>
			</ul>
		<div class="font-weight-bold card-text"> Compulsory Fees: ${{comFees}}</div>
			<ul class="no-bullet">
				<li *ngFor="let manObject of manObjects;">
					{{manObject.name}}: ${{manObject.cost}}
				</li>
			</ul>
		<div class="font-weight-bold card-text"> Ancillary Fees: ${{ancFees}}</div>
			<ul class="no-bullet">
				<li *ngFor="let ancObject of ancObjects; let i = index">
					{{ancObject.name}}: ${{ancObject.cost}} <button class="round bg-warning" (click)="openModal(ancObject)"><img src = "../../assets/icons/ellipses.png"/></button>
				</li>
			</ul>
		<div class="font-weight-bold card-text"> Grants: (${{grants}})</div>
		<h4 class="font-weight-bold"> Total Fees: {{schoolFees}}</h4>
		<br/>
	</div>
	</div>
	
	<div class="card mu-10">
	<h5 class="font-weight-bold text-center mu-10 mb-20">Past Payments</h5>
	<div class="text-center mb-10">
		<table style="width:100%">
		  <tr>
			<th>Term</th>
			<th>Payment</th>
		  </tr>
		  <tr *ngFor="let pay of paymentObjects">
			<td>{{pay.term}}</td>
			<td>${{pay.payment}}</td>
		  </tr>
		</table>
	</div>
	</div>
	</div>
	
</div>

</div>
</div>