
<div class="row mt-4">

    <form id="personalForm" class="col-sm-9" method="POST" (submit)="submitUserInfo()">
        <div class="form-group" *ngFor="let fieldName of formFields">
            <label for={{fieldName}}>{{fieldName}}</label>
                <input *ngIf="fieldName === 'First name'" type="text" class="form-control" id={{fieldName}} value="{{firstName}}" required readonly />
                <input *ngIf="fieldName === 'Last name'" type="text" class="form-control" id={{fieldName}} value="{{lastName}}" required readonly />
                <input *ngIf="fieldName === 'Address'" type="text" class="form-control" id={{fieldName}} value="{{address}}" required />
                <input *ngIf="fieldName === 'Phone number'" type="text" class="form-control" id={{fieldName}} value="{{phoneNum}}" required />
                <input *ngIf="fieldName === 'Email'" type="text" class="form-control" id={{fieldName}} value="{{email}}" required />
                <input *ngIf="fieldName === 'Emergency contact'" type="text" class="form-control" id={{fieldName}} value="{{emergencyContact}}" required />
        </div>

        <button type="submit" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-light">Cancel</button>
    </form>

    <div class="questionnaire col-sm-3">

        <div class="card">
            <div class="card-header bg-blue text-white">
                <h5>Available Questionnaires</h5>
            </div>
            <ul class="list-group">
                <a class="list-group-item btn btn-danger bg-danger text-white" href="https://www.ryerson.ca/diversity-self-id/" target="_blank">Student Diversity Self-ID</a>
                <a class="list-group-item btn btn-danger bg-danger text-white" href="https://www.ryerson.ca/content/dam/arts/documents/Academic-Success/ArtsStudentSelf-AssessmentQuestionnaire.pdf" target="_blank">Student Self-Assessment</a>
                <a class="list-group-item btn btn-danger bg-danger text-white" href="https://www.ryerson.ca/faculty-affairs/faculty-course-survey/" target="_blank">Faculty/Course Survey</a>
            </ul>
        </div>

    </div>

</div>
