.nav-width{
	width:100%;
	min-height:115%;
	position:relative;
}

.ryerson-logo{
	margin-top:5px;
	margin-bottom:11px;
	position:relative;
	margin-left:10px;
}

.sub-header{
	width:100%;
	margin-top:5px;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:0px;
}

.btn-dark{
	border-radius:0px;
	height:60px;
	font-size:17px;
	border-color:#292b2c;
}

.nav-item{
	cursor: pointer; 
}

.nav-link{
	color:white;
}

.nav-link:hover{
	color:blue;
}


.mw-80{
	width:60%;
}

.pad-50{
	padding-bottom:50px;
}

.mobile-mu-25{
	margin-top:25px;
}

@media screen and (min-width: 990px) {
    .rm-margin{
	  margin:0px;
	  padding-left:0px;
    }
}

@media screen and (max-width: 990px) {
	.mw-80{
		width:75%;
	}
}

@media screen and (max-width: 767px) {
	.mw-80{
		width:35%;
	}
	.mobile-mu-25{
		margin-top:0px;
	}
}

@media screen and (max-width: 550px) {
	.mw-80{
		width:60%;
	}
}

@media screen and (max-width: 350px) {
	.mw-80{
		width:80%;
	}
}

@media screen and (max-width: 990px) {
  .nav-head{
	font-size:18px;
  }

}


