.nav-width{
	width:100%;
	min-height: 100%;
	position:relative;
}

.ryerson-logo{
	margin-top:5px;
	margin-bottom:11px;
	position:relative;
	margin-left:10px;
}


.sub-header{
	width:100%;
	margin-top:5px;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:0px;
}

.btn-dark{
	border-radius:0px;
	height:60px;
	font-size:17px;
	border-color:#292b2c;
}



.nav-item{
	cursor: pointer; 
}

.nav-link{
	color:white;
}

.nav-link:hover{
	color:blue;
}
  
@media screen and (min-width: 990px) {
  .rm-margin{
	margin:0px;
	padding-left:0px;
  }
}

@media screen and (max-width: 990px) {
  .nav-head{
	font-size:18px;
  }
}
