<div class = "container-fluid mobile-rm" *ngIf = "loggedIn == true">
 <div class="row justify-content-center">
    <div class="col-md-4 loginScreen bg-light pad-50 mobile-mu-25">
		<div class="text-center mu-20">
		  <img class="ryerson-logo mw-80" src="../../assets/images/Ryerson-rgb.png"/>
		</div>
		<div class="card mu-25">
			<div class="card-body">
			  <div class="form-group">
				<label for = "username">Username</label>
				<input type="text" class="form-control" id="username" [(ngModel)]="username" placeholder="my.ryerson username">
			  </div>
			  <div class="form-group">
				<label for = "password">Password</label>
				<input type="password" class="form-control" id="password" [(ngModel)]="password" placeholder="Password">
			  </div>
			  <button class="btn btn-lg btn-outline-primary float-right" (click) = "login()">Login</button>
			</div>
		</div>
		<br/>
		<div class="float-right">
			<a href = "https://db4free.net/phpMyAdmin/" class="mu-10"> System Admin?</a>
		</div>
    </div>
	

  </div>
</div>


<div class="container-fluid" *ngIf = "loggedIn == false">
	<div class="row">
		<div class="col-lg-2 rm-margin">
		<div class="nav-width bg-dark d-none d-lg-block">
			<div class="bg-dark">
				<img class="w-90 ryerson-logo " src="../../assets/images/Ryerson-rgb.png"/>
			</div>
			<h4 class="text-light card-header text-center bg-blue">Account</h4>
			<button class="btn btn-dark w-100" (click)="toggleView('accManage')">Account Information</button>
			<button class="btn btn-dark w-100" (click)="toggleView('perManage')">Personal Information</button>
			
			<h4 class="text-light card-header text-center bg-blue">Courses</h4>
			<button class="btn btn-dark w-100" (click)="toggleView('courseSum')">Course Summary</button>
			<button class="btn btn-dark w-100" (click)="toggleView('manageCourses')">Manage Courses</button>

			<h4 class="text-light card-header text-center bg-blue">Academic</h4>
			<button class="btn btn-dark w-100" (click)="toggleView('grades')">Grades</button>	
			<button class="btn btn-dark w-100" (click)="toggleView('academic')">Academics</button>	
			<button class="btn btn-dark w-100" (click)="toggleView('requests')">Requests</button>	
		</div>
		</div>
		<div class="col-lg-10">
		<nav class="navbar navbar-dark bg-dark">
		  <h4 class="text-light nav-head">
			Student #: {{studentNo}}
		  </h4>
		  <div class="justify-content-end">
			<button class="btn btn-warning" (click)="logout()">
			Logout
			</button>
		  </div>
		</nav>
		
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-lg-none d-xl-none">
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			  <div class="nav-item">
				<div class="nav-link" (click)="toggleView('accManage')">Account Information</div>
			  </div>
			  <div class="nav-item">
				<div class="nav-link" (click)="toggleView('perManage')">Personal Information</div>
			  </div>
			  <div class="nav-item">
				<div class="nav-link" (click)="toggleView('courseSum')">Course Summary</div>
			  </div>
			  <div class="nav-item">
				<div class="nav-link" (click)="toggleView('manageCourses')">Manage Courses</div>
			  </div>
			  <div class="nav-item">
				<div class="nav-link" (click)="toggleView('grades')">Grades</div>
			  </div>
			  <div class="nav-item">
				<div class="nav-link" (click)="toggleView('academic')">Academics</div>
			  </div>
			  <div class="nav-item">
				<div class="nav-link" (click)="toggleView('requests')">Requests</div>
			  </div>
		  </div>
		</nav>
	
		<!-- Dont add anything but components after this line !-->
		<!-- <app-login></app-login> !-->
		<app-acc-info *ngIf="accManage"></app-acc-info>
		<app-per-info *ngIf="perManage"></app-per-info>
		<app-course-sum *ngIf="courseSum"></app-course-sum>
		<app-manage-courses *ngIf="manageCourses"></app-manage-courses>
		<app-grades *ngIf="grades"></app-grades>
		<app-academic *ngIf="academic"></app-academic>
		<app-requests *ngIf="requests"></app-requests>
		</div>
	</div>
</div>
